// :root{
//   --color3:#157ed2;
//   --color9:#eaeaea;
// }
// color: var(--color3);
// border-bottom: 1px solid var(--color9);

$color1: #fff;
$color2: #157ed2;
$color3: #eaeaea;

.country-state-main-section {
  background-color: #e8e8e8;
  padding: 40px;

  .my-info{
    text-align: center;
    margin-bottom:30px;

    h2{
      margin: 0px;
    }
  }

  .country-state-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;

    .without-suggest{
      h4{
        margin: 5px 0px 5px;
      }

      input{
        width: 98%;
        margin: 0px 0px 10px;
        padding: 10px;
        background-color: $color1;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button { 
          -webkit-appearance: none; margin: 0;
        } 
        /* Firefox */
        &[type="number"] { 
          -moz-appearance: textfield;
        }
      }
    }

  .show-suggest-container{
      position: relative;

      h4{
        margin: 0px;
      }

      p{
          width: 98%;
          background-color: $color1;
          padding: 6px 10px;
          margin: 5px 0px 15px;
          border-radius: 3px;
          cursor: pointer;
      }

      input{
        width: 100%;
        padding:10px;
        border: none;
        outline: none;
      }

      .show-suggest-area{
        width: 100%;
        position: absolute;
        top: 70px;
        z-index: 99;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 21%);

        .show-suggest{
            background-color: $color1;
            margin-top: 1px;
            border-radius: 3px;
            max-height: 335px;
            overflow-y: auto;
      
            .suggest-btn{
                width: 100%;
                height: 30px;
                border: none;
                outline: none;
                background: transparent;
                cursor: pointer;
                text-align: left;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                border-bottom: 1px solid $color3;
          
                .suggest-line-climb{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
          
                &:hover{
                  color: $color1;
                  background-color: $color2;
                }
            }
        }
      }
    }

    .copy-billing-address{
      display: flex;
      align-items:center;

      h5{
        color: $color2;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
